.score{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    margin-top: -15px;
}

.hiden{
    display: none;
}

.win{
    display: inline-block;
    font-size: 1.9rem;
    font-weight: 600;
}

.show{
    display: block;
}